<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!-- Esta es seccion de inicio -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Roomtica</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Recepcion</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-gear"></i>
                Configuracion</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Recepcion</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Inventario
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-xl">
      <div class="my-2">
        <h1 class="text-center">Habitaciones</h1>
      </div>
      <div class="my-5">
        <button type="button" class="btn btn-dark rounded-circle">
          <i class="bi bi-body-text"></i>
        </button>
        <button type="button" class="btn btn-primary rounded-circle">21</button>
        <button type="button" class="btn btn-success rounded-circle">2</button>
        <button type="button" class="btn btn-warning rounded-circle">2</button>
      </div>

      <div class="my-2">
        <!-- contenedor card -->
        <div class="d-flex gap-5 align-items-center my-5">
          <div>Piso 1</div>
          <!-- Card -->
          <div class="card p-1 shadow">
            <div class="border-success border p-5 text-center">
                <span>1</span>
                <p>Rusbel</p>
                <button class="btn btn-primary rounded">Disponible</button>
            </div>
          </div>
          <div class="card p-1 shadow">
            <div class="border-success border p-5 text-center">
                <span>1</span>
                <p>Rusbel</p>
                <button class="btn btn-primary rounded">Disponible</button>
            </div>
          </div>
          <div class="card p-1 shadow">
            <div class="border-success border p-5 text-center">
                <span>1</span>
                <p>Rusbel</p>
                <button class="btn btn-primary rounded">Disponible</button>
            </div>
          </div>
        </div>

        <div class="d-flex gap-5 align-items-center my-2">
            <div>Piso 2</div>
            <!-- Card -->
            <div class="card p-1 shadow">
              <div class="border-success border p-5 text-center">
                  <span>1</span>
                  <p>Rusbel</p>
                  <button class="btn btn-primary rounded">Disponible</button>
              </div>
            </div>
            <div class="card p-1 shadow">
              <div class="border-success border p-5 text-center">
                  <span>1</span>
                  <p>Rusbel</p>
                  <button class="btn btn-primary rounded">Disponible</button>
              </div>
            </div>
            <div class="card p-1 shadow">
              <div class="border-success border p-5 text-center">
                  <span>1</span>
                  <p>Rusbel</p>
                  <button class="btn btn-primary rounded">Disponible</button>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- ------- -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
