@model RoomticaFrontEnd.Models.ClienteModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-xl pb-4 pt-2">
    <h2>Registrar Cliente</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="primer_nombre" class="control-label"></label>
                    <input asp-for="primer_nombre" class="form-control" />
                    <span asp-validation-for="primer_nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="segundo_nombre" class="control-label"></label>
                    <input asp-for="segundo_nombre" class="form-control" />
                    <span asp-validation-for="segundo_nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="primer_apellido" class="control-label"></label>
                    <input asp-for="primer_apellido" class="form-control" />
                    <span asp-validation-for="primer_apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="segundo_apellido" class="control-label"></label>
                    <input asp-for="segundo_apellido" class="form-control" />
                    <span asp-validation-for="segundo_apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="id_tipo_documento" class="control-label"></label>
                    <select asp-for="id_tipo_documento" asp-items="@ViewBag.tipoDocumento" class="form-select"></select>
                    <span asp-validation-for="id_tipo_documento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="numero_documento" class="control-label"></label>
                    <input asp-for="numero_documento" class="form-control" />
                    <span asp-validation-for="numero_documento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="telefono" class="control-label"></label>
                    <input asp-for="telefono" class="form-control" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fecha_nacimiento" class="control-label"></label>
                    <input asp-for="fecha_nacimiento" class="form-control" />
                    <span asp-validation-for="fecha_nacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="id_tipo_nacionalidad" class="control-label"></label>
                    <select asp-for="id_tipo_nacionalidad" asp-items="@ViewBag.tipoNacionalidad" class="form-select"></select>
                    <span asp-validation-for="id_tipo_nacionalidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="id_tipo_sexo" class="control-label"></label>
                    <select asp-for="id_tipo_sexo" asp-items="@ViewBag.tipoSexo" class="form-select"></select>
                    <span asp-validation-for="id_tipo_sexo" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <a asp-action="Create" class="btn btn-success">Nuevo</a>
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                    <a asp-action="Listar" class="btn btn-warning">Volver al Listado</a>
                </div>
            </form>
        </div>
    </div>
    <div>
        <span class="text-danger fw-bold">@ViewBag.mensaje</span>
    </div>
    <div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</div>